
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy</h2>

This site uses Google Analytics. Click the link below to learn how Google uses tracking data.
<a href="http://www.google.com/policies/privacy/partners/" target="_blank">http://www.google.com/policies/privacy/partners/</a>